:root {
    --pastel-red: #FFB570;
    --pastel-yellow: #FFD6A5;
    --dark-orange: #FFA500;
    --light-orange: #FFC68F;
    --dark-gray: #333333;
    --light-gray: #CCCCCC;
    --white: #FFFFFF;
    --black: #000000;
    --red: #FF6961;
    --off-white: #FFFFF5;
    --font: 'Arial', sans-serif;
    --font-size: 18px;
  }

  body {
    background-color: var(--off-white);
    font-family: var(--font);
    margin: 0;
  }

.menu {
    float: left;
    font-size: var(--font-size);
    background-color: var(--off-white);
    padding: 3px;
    text-align: left;
    border-radius: 3px;
/*     border-color: var(--black);
    outline: 2px solid var(--black);
 */    
    margin-left: 10px;
}

.content {
    font-size: var(--font-size);
    text-align: left;
    margin-left: 110px;
    width: 600px;
}

.links-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
  }
  
.links-list li {
    margin-bottom: 5px;
}

.links-link {
    display: inline-block;
    background-color: none;
    color: var(--dark-gray);
    padding: 5px 10px;
    /* border-radius: 3px; */
    text-decoration: none;
}

.links-link:hover {
    background-color: var(--pastel-red);
}

